<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main page</title>
  <link rel="stylesheet" href="style.css"/>
</head>
<nav>
  <a href= "/" >Home </a>
  <a href= "/create" >Create</a>
  <a href= "/delete" >Delete/Edit</a>
</nav>

<h3><%= title %></h3>
<body>
    <table>
        <tr class = row-header>
            <th >ID</th>
            <th >Width</th>
            <th >Length</th>
            <th >Colour</th>
            <th >Name</th>
            <th >Power</th>
        </tr>
        <tr> 
            <td><%= data.result[0].id %></td>
            <td><%= data.result[0].width %></td> 
            <td><%= data.result[0].length %></td> 
            <td><%= data.result[0].colour %></td> 
            <td><%= data.result[0].name %></td> 
            <td><%= data.result[0].power %></td>  
        </tr>
    </table>



  
</body>
</html>